#accueil a{
    background-color:rgba(255,252,204,1)
}
div{
    width:75vw;
    margin-bottom:3em;
    border-radius:10px;
    padding: 1em;
}
.div1{
    background-color: rgb(124,107,98);
    color: rgb(239,234,228);
    align-self: flex-start;
    margin-left: 5vw;
    border: solid 2px rgb(239,234,228);
}
.div2{
    background-color: rgb(239,234,228);
    color: rgb(124,107,98);
    align-self: flex-start;
    margin-left: 5vw;
    border : solid 2px rgb(124,107,98);
}