form{
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  width:95vw;
}
fieldset{
  border:none;
  display:flex;
  flex-direction: column;
}
fieldset input{
  margin : 0em 0em 0.5em 0.5em;
}


#embed-tooltip {
  position: relative;
  display: inline-block;
  background :rgba(73, 72, 72, 0.473);
  font-weight: bold;
  border-radius: 100%;
  margin-left:1em;
  padding : 0.4em 0.6em 0.2em 0.5em;
  height:1.5em;
  width:1em;
  text-align: center;
}

.form-div{
  display: flex;
  flex-direction: row;
}
.form-div label{
  width:10em;
  padding-bottom: 2em;
}
.form-div select, .form-div input{
  margin-left:2em;
  height: 1.5em;
}
.form-div-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap : 2em;
}
.checkbox{
  background-color: rgb(239,234,228);
  padding : 1em 0em;
}
.submit{
  width:5em;
}

.checkbox{
  display:flex;
  flex-direction: row;
}

/* Tooltip text */
#embed-tooltip-text {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
#embed-tooltip:hover #embed-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.form1{
  background-color: rgb(239,234,228);
  color : rgb(124,107,98)
}

.form2{
  background-color: rgb(124,107,98);
  color: rgb(239,234,228)
}
h2{
  margin: 0.5em 1em;
}