main{
  width: 100%;
}
form{
  width: 80%;
}
#contact a{
    background-color:rgba(255,252,204,1)
}

* {
    box-sizing: border-box;
  }
  
  input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: rgb(124,107,98);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: rgb(107, 94, 87);
  }
  
  .container {
    display: flex;
    border-radius: 5px;
    background-color: rgb(239,234,228);
    padding: 20px;
    margin-inline: auto;
    width: 60vw;
    margin-bottom: 1em;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .titre2{
    display: flex;
    justify-content: center;
  
    margin-bottom: 2em;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }