#emission a{
    background-color:rgba(255,252,204,1)
}
h2{
    margin-left: 1em;
}

.channel-0{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: rgb(239,234,228);
    border: solid 2px rgb(124,107,98);
    width: 97%;
    margin: auto;
    padding-bottom: 1em;
    margin-bottom: 1em;

}
.channel-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: rgb(124,107,98);
    border: solid 2px rgb(239,234,228);
    color : rgb(239,234,228);
    width: 97%;
    margin: auto;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.video{
    display: flex;
    flex-direction: column;
    margin: auto;
}

iframe{
    width: 30vw;
}