#login a{
    background-color:rgba(255,252,204,1);
}
form{
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    width:95vw;
    background-color: rgb(239,234,228);
    color : rgb(124,107,98);
    border : solid 2px rgb(124,107,98)
}
fieldset{
border:none;
display:flex;
flex-direction: column;
}
fieldset div{
    display: flex;
    flex-direction: row;
    margin-bottom:0.5em;
}
fieldset div label{
width: 10em;
}
.submit{
width:7em;
} 
#register{
    margin-left : 2em;
}