body{
    font-family: sans-serif;
    margin:0;
    color:rgb(124,107,98);
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    background-color: rgb(239,234,228);
    border-bottom: 2px solid rgb(124,107,98);
    margin-bottom:3em;
}
#logo-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:50vw;
}
#logo{
    width: 23.5em;
}
#nav-bar{
    width:80vw;
    align-self:center;
    justify-self: center;
}
#nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin:1em 0;
    padding: 0;
}
#nav-bar ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;
}
.link{
    padding : 0.8em 1.5em;
    width:100%;
}
.link:hover{
    background-color:rgba(255,252,204,1)
}
#logged-as{
    padding : 0em 1.5em;
}
#admin{
    padding:0;
}
#admin:hover{
    background:none;
    color:rgb(240, 174, 126);
}
#menu-burger{
    display:none
}

@media screen and (max-device-width:1550px) {
    #menu-burger{
        display: block;
        width : 6em;
        align-self: flex-end;
        text-align: center;
        border: solid 1px rgb(124,107,98);
        border-radius: 5px;
        padding : 1em 0.5em 1em 0.5em;
        margin: 0em 1em 1em 0em;
    }
    #nav-bar{
        position: absolute;
        width: 300px;
        align-self: flex-start;
        margin-left: 5vw;
    }
    #nav-bar:not(.hidden){
        transform:translateY(50%);
        transition: transform 500ms;
        background-color: rgb(239,234,228);
        padding:1em;
        border: solid 2px rgb(124,107,98);
    }
    #nav-bar ul{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    #nav-bar ul li{
        margin: 0.5em 0em;
    }
    .menu-active{
        background-color: rgb(124,107,98);
        border-color: rgb(239,234,228);
        color:rgb(239,234,228)
    }
    .hidden{
        transform:translateY(-250%);
        transition: transform 500ms;
    }
    footer{
        background-color: rgb(239,234,228);
    }

    .footer{
        Display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        width: 100vw;
        margin-bottom: 0;
    }
    .footer-link{
        font-size: 0.75em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        padding : 0.8em 1em;
        width:100%;
    }
   
    .footer-link:hover{
        background-color:rgba(255,252,204,1)
    }
    

    .credential{
        text-align: center;
    }
    
}